@font-face {
  font-family: "iconfont"; /* Project id 2111671 */
  src: url('iconfont.woff2?t=1661423921095') format('woff2'),
       url('iconfont.woff?t=1661423921095') format('woff'),
       url('iconfont.ttf?t=1661423921095') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tab-feedback:before {
  content: "\e69a";
}

.icon-tab-home:before {
  content: "\e69b";
}

.icon-config:before {
  content: "\e699";
}

.icon-background:before {
  content: "\e697";
}

.icon-notepad:before {
  content: "\e698";
}

.icon-alarm:before {
  content: "\e696";
}

.icon-upload:before {
  content: "\e695";
}

.icon-download:before {
  content: "\e694";
}

.icon-weather_unknown:before {
  content: "\e693";
}

.icon-weather_wind:before {
  content: "\e692";
}

.icon-weather_sand:before {
  content: "\e691";
}

.icon-weather_fog:before {
  content: "\e690";
}

.icon-weather_rain:before {
  content: "\e68e";
}

.icon-weather_snow:before {
  content: "\e68f";
}

.icon-weather_cloud:before {
  content: "\e68d";
}

.icon-weather_sun:before {
  content: "\e68c";
}

.icon-menu-lines:before {
  content: "\e68b";
}

.icon-round-link:before {
  content: "\e68a";
}

.icon-plus:before {
  content: "\e686";
}

.icon-check:before {
  content: "\e689";
}

.icon-close:before {
  content: "\e688";
}

.icon-minus:before {
  content: "\e687";
}

.icon-circle-close:before {
  content: "\e685";
}

.icon-circle-minus:before {
  content: "\e684";
}

.icon-circle-plus:before {
  content: "\e683";
}

.icon-delete:before {
  content: "\e682";
}

.icon-folder-open:before {
  content: "\e681";
}

.icon-folder-close:before {
  content: "\e680";
}

.icon-arrow-left:before {
  content: "\e67f";
}

.icon-arrow-right:before {
  content: "\e67e";
}

.icon-arrow-down:before {
  content: "\e67d";
}

.icon-ellipsis:before {
  content: "\e67c";
}

.icon-event:before {
  content: "\e67b";
}

.icon-component:before {
  content: "\e67a";
}

.icon-loading:before {
  content: "\e679";
}

.icon-chat:before {
  content: "\e678";
}

.icon-zhihu:before {
  content: "\e677";
}

.icon-search-minus:before {
  content: "\e673";
}

.icon-rotate:before {
  content: "\e674";
}

.icon-search-plus:before {
  content: "\e675";
}

.icon-save-as:before {
  content: "\e676";
}

.icon-reset:before {
  content: "\e671";
}

.icon-cut:before {
  content: "\e66f";
}

.icon-superhero:before {
  content: "\e66c";
}

.icon-red-hulk:before {
  content: "\e66d";
}

.icon-pig:before {
  content: "\e66e";
}

.icon-ghost:before {
  content: "\e667";
}

.icon-cartoon:before {
  content: "\e668";
}

.icon-monkey:before {
  content: "\e669";
}

.icon-bird:before {
  content: "\e66a";
}

.icon-dog:before {
  content: "\e66b";
}

.icon-contact:before {
  content: "\e663";
}

.icon-xiaoer:before {
  content: "\e661";
}

.icon-fail-fill:before {
  content: "\e65f";
}

.icon-info-fill:before {
  content: "\e65e";
}

.icon-success-fill:before {
  content: "\e65d";
}

.icon-clock:before {
  content: "\e65b";
}

.icon-cat:before {
  content: "\e65a";
}

.icon-cat-ico:before {
  content: "\e659";
}

.icon-calendar:before {
  content: "\e654";
}

.icon-codepen:before {
  content: "\e652";
}

.icon-pointer-right:before {
  content: "\e651";
}

.icon-npm:before {
  content: "\e650";
}

.icon-gitee:before {
  content: "\e64f";
}

.icon-juejin:before {
  content: "\e64e";
}

.icon-menu:before {
  content: "\e64d";
}

.icon-google:before {
  content: "\e64b";
}

.icon-baidu:before {
  content: "\e64c";
}

.icon-cry:before {
  content: "\e647";
}

.icon-kungfu:before {
  content: "\e645";
}

.icon-empty:before {
  content: "\e631";
}

.icon-ellipsis-vertical:before {
  content: "\e630";
}

.icon-search:before {
  content: "\e62a";
}

.icon-file:before {
  content: "\e627";
}

.icon-edit:before {
  content: "\e626";
}

.icon-web:before {
  content: "\e623";
}

